body {
	background: #EAE0E9;
}
body {
	background: #EAE0E9;
}

h2 {
	color: #3D1A61;
}

.cuidados {
	font-size: 23px;
	text-align: left;
	padding: 60px;
}

.principal {
	font-size: 28px;
	text-align: center;
	padding: 50px;
}